<p>
    Onderstaande gegevens zijn door de <code>bbc-forwarder</code> uit het bijgevoegde <strong>bewijs betaald collegegeld</strong> gehaald. Bij deze het verzoek aan jullie om de gegevens te controleren en het bbc te verwerken. Na verwerking kun je dit bericht verwijderen (het oorspronkelijke bericht is al verplaatst naar de map "99_archief").
</p>
<h3>BBC</h3>
$bbc
<h3>Student</h3>
$student
<h3>Inschrijfregel</h3>
$vti
<p>
    Indien de <a href="https://github.com/uu-asc/bbc-forwarder">geautomatiseerde</a> verwerking onjuiste resultaten heeft opgeleverd, forward deze e-mail dan naar <a href="mailto:lc.vriend@uu.nl">l.c.vriend@uu.nl</a> en vermeld wat er niet klopt. Het bbc mag verder wel al verwerkt worden.
</p>
