<p>
    Wij hebben het bijgevoegde <strong>bewijs betaald collegegeld</strong> ontvangen.
    Op basis van onderstaande gegevens uit onze administratie gaan wij ervanuit dat dit document voor jullie bedoeld is.
</p>
<h3>BBC</h3>
$bbc
<h3>Student</h3>
$student
<h3>Inschrijfregel</h3>
$vti
<p>
    <strong>Nota bene:</strong> dit is een <a href="https://github.com/uu-asc/bbc-forwarder">geautomatiseerd</a> bericht. Mocht dit bbc niet voor jullie bedoeld zijn of er zijn andere issues, neem dan contact met ons op via <a href="mailto:csa.asc@uu.nl">csa.asc@uu.nl</a>.
</p>
